[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    versions-4.3.x.cfg

package-name = collective.ploneqecode
package-extras = [develop, test]

parts +=
    code-analysis
    createcoverage
    i18ndude
    node
    omelette
    pylint
    rebuild_i18n-sh
    releaser
    test
    zopepy

versions = versions

[code-analysis]
recipe = plone.recipe.codeanalysis[recommended]
directory = ${buildout:directory}/collective/ploneqecode
clean-lines = True
debug-statements = True
multiprocessing = True
pre-commit-hook = True
return-status-codes = True
flake8 = True
flake8-ignore = B901,D001,E501,P001,T000,T001,I001
flake8-max-complexity = 12
prefer-single-quotes = True
check-manifest = False

[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress', '-s', 'collective.ploneqecode']
eggs = collective.ploneqecode [test]

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser


[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[versions]
# Don't use a released version of collective.collectionfilter
collective.ploneqecode =
